<link rel="stylesheet" href="/css/StyleModalWindowTaskItem.css"/>
<div class="modal" tabindex="-1" role="dialog" id="MoadlTaskItem">
    <div class="new-task">
        <h6>New Task</h6>
        <textarea rows="4" cols="50" placeholder="Task text..."></textarea>
        <div class="new-task-status">
            <div class="new-task-status"><img src="~/img/checkbox_26.png" alt="checkbox_26"><input placeholder="0"/></div>
            <div class="new-task-status"><img src="~/img/attach_26.png" alt="attach_26"><input placeholder="0"/></div>
            <div class="new-task-status"><img src="~/img/comments_26.png" alt="comments_26"><input placeholder="0"/></div>
        </div>
        <div class="task-avatar">
            <div class="new-task-status-dev"><img src="~/img/avatar_1.png" alt="avatar_1"></div>
            <div class="new-task-status-dev"><img src="~/img/avatar_2.png" alt="avatar_2"></div>
            <div class="new-task-status-dev"><img src="~/img/avatar_3.png" alt="avatar_3"></div>
            <div class="new-task-status-dev"><img src="~/img/avatar_4.png" alt="avatar_4"></div>
        </div>
        <div class="buttons-container">
            <button id="cancel_window" class="cancel-button">Cancel</button>
            <button class="add-button">Add</button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/HandlerModalWindows.js"></script>