<link rel="stylesheet" href="/css/StyleModalWindowTask.css" />
<div id="MoadlTask" class="modal">
    <div class="modal-content">
        <input id="taskNameInput" rows="1" cols="40" placeholder="Task name..." />
        <div class="buttons-container">
            <button id="cencel_window_task" class="cancel-button-task">Cancel</button>
            <button id="add_task_button" class="add-button-task">Add</button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/HandlerModalWindows.js"></script>