<link rel="stylesheet" href="/css/StyleContextMenu.css" />
<div id="contextMenu" class="context-menu">
    <ul class="wrapper">
        <li id="delete" class="icon context">
            <img src="~/img/delete_FILL0.svg" alt="Delete Task"/>
            <span class="tooltip">Delete</span>
            <span><i class="fab"></i></span>
        </li>
        <li id="edit" class="icon context">
            <img src="~/img/edit_FILL0.svg" alt="Edit Task"/>
            <span class="tooltip">Edit</span>
            <span><i class="fab"></i></span>
        </li>
    </ul>
</div>