.task {
    margin: 1rem;
    max-width: 400px;
    max-height: 750px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgb(220, 220, 220);
    overflow: auto;
    transition: all 0.3s ease-in-out;
    animation: slide-up 0.5s ease-in-out;
}

.task:hover {
    transform: scale(1.05);
}

.task-title {
    position: sticky;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    top: 0;
    z-index: 1;
}

.add-task-item-btn {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 50%;
    color: white;
    background-color: #f5f5f5;
    outline: none;
    transition: background-color 0.3s ease;
}

.add-task-item-btn img {
    width: 20px;
    height: 20px;
}

.add-task-item-btn:hover {
    background-color: #444654;
}

.task::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.task::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f1;
}

.task::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.task::-webkit-scrollbar-thumb:hover {
    background: #555;
}