@{
    ViewData["Title"] = "Board";
}
@model Trello.Models.Board

<div class="head">
    My Boards
    <button id="add_task" class="soap-button" data-target="#MoadlTask">Добавить новую задачу</button>
</div>
<div id="main" class="main-table">
    @foreach (Trello.Models.Task i in Model.Tasks)
    {
        <partial name="Task" model="@i" />
    }
</div>

@await Html.PartialAsync("~/Views/ModalWindows/ModalAddTask.cshtml")